<footer>
        <div>
            <ul>
                <li> <a href="https://www.google.com/maps/place/Balcarce+78,+C1064AAD+Cdad.+Aut%C3%B3noma+de+Buenos+Aires/@-34.6080195,-58.3807857,15z/data=!3m1!4b1!4m6!3m5!1s0x95a3352cbe276f75:0x2c5b4b3849944476!8m2!3d-34.6080204!4d-58.370486!16s%2Fg%2F11b8v7mnqm?entry=ttu&g_ep=EgoyMDI2MDIxMS4wIKXMDSoASAFQAw%3D%3D">
                    Balcarce 78, CABA</a></li>
                <li>011 4344-3600</li>
            </ul>
            <ul>
                <li><a href="https://www.instagram.com/"> Instagram </a></li>
                <li><a href="https://www.facebook.com/"> Facebook </a></li>
                <li><a href="https://www.x.com/"> X </a></li>
            </ul>
        </div>
    </footer>