html,body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #027fb1;
    min-height: 100vh;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo img{
    cursor: pointer;
    max-height: 150px;
    border: 1px solid none;
    border-radius: 8px;
}

.buscador{
    display: flex;
    flex: 1;
    padding: 0px 10px 0px 10px;
}
.buscador input{
    flex: 1;
    height: 45px;
    border: 1px solid black;
}

.buscador button{
    height: 50px;
    cursor: pointer;
}

.carrito img{
    padding: 10px;
    margin-left: auto;
    max-width: 70px;
    max-height: 50px;
    cursor: pointer;
}

.login button{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    padding: 10px;
    height: 50px;
    cursor: pointer;
}

.imagenes{
    margin: 20px;
    display: flex;
    gap: 30px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    flex-wrap: wrap;
}


.imagenes img{
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

.imagenes .comprar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 300px;
}

.imagenes button{
    font-size: 20px;
    width: 250px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease all;
}

.imagenes button:hover{
    background-color: rgb(177, 0, 0);
}

.imagenes .descripcion{
    margin: 20px 0;
    text-align: justify;
    max-width: 500px;
}


.imagenes .titulo{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 250px;
    height: 25px;
    padding: 5px;
    text-align: center;
}
.imagenes .precio{
    font-size: 30px;
    width: 250px;
    height: 25px;
    padding-top: 10px;
    text-align: center;
}

footer{
    margin-top: auto;
    width: 100%;
    color: white;
    background-color: black;
}

footer div{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}

footer ul{
    margin-bottom: 10px;
    margin-right: 20px;
    list-style: none;
    padding: 0;
}

footer li a{
    text-decoration: none;
    color: white;
}
footer li a:hover{
    text-decoration: none;
    color: white;
}

@media (max-width: 768px){
    .imagenes{
        flex-direction: column;
        align-items: center;
    }
    .imagenes img{
        max-width: 100%;
    }
    .imagenes .comprar{
        width: 100%;
    }
}

@media (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: stretch;
    }

    .buscador{
        padding: 10px 0;
    }
}

