html,body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #027fb1;
    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo img{
    cursor: pointer;
    max-height: 150px;
    border: 1px solid none;
    border-radius: 8px;
}

.buscador{
    display: flex;
    flex: 1;
    padding: 0px 10px 0px 10px;
}
.buscador input{
    flex: 1;
    height: 45px;
    border: 1px solid black;
}

.buscador button{
    height: 50px;
    cursor: pointer;
}

.carrito img{
    padding: 10px;
    margin-left: auto;
    max-width: 70px;
    max-height: 50px;
    cursor: pointer;
}

.formulario{
    font-size: 20px;
    margin: auto;
    padding-bottom: 20px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.formulario h2{
    border-bottom: 1px solid rgb(219, 219, 219);
    text-align: center;
    padding: 0 0 20px 0;
}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

.formulario div{
    margin-bottom: 20px;
}
.formulario .registro{
    margin-top: 20px;
}

.name input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    transition: .5s all ease;
}

.name input:hover{
    background-color: silver;
}

.lastname input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    transition: .5s all ease;
}

.lastname input:hover{
    background-color: silver;
}

.email input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    transition: .5s all ease;
}

.email input:hover{
    background-color: silver;
}


.password input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    transition: .5s all ease;
}

.password input:hover{
    background-color: silver;
}

.formulario .crear{
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: #027fb1;
    cursor: pointer;
    transition: .5s all ease;
}

.formulario .crear:hover{
    background-color: #04506e;
}

.iniciar{
    margin-top: 20px;
    text-align: center;
}

footer{
    width: 100%;
    color: white;
    background-color: black;
}

footer div{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}

footer ul{
    margin-bottom: 10px;
    margin-right: 20px;
    list-style: none;
    padding: 0;
}

footer li a{
    text-decoration: none;
    color: white;
}
footer li a:hover{
    text-decoration: none;
    color: white;
}

@media (max-width: 768px){
    
    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    .carrito{
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .buscador{
        display: none;
    }
}